<form name="input" action="/poetify" method="post">
Image to Poetify: <input type="text" name="image">
<input class = "submit" type="submit" value="Submit">
</form>

<script src="/js/pictures.js"></script>

<div id = "user_photo">
</div>

<div id = "poem">
</div>

