<div id = "title-holder">
  <h2> Haikus by Travis </h2>
</div>
<div id = "info">
  <p>
    Place a link to the image of your choice in the Poetify bar and wait a few seconds for the magic to happen. Please choose an image smaller than roughly 1000x1000. Anything larger than that will likely respond with an error. Image tagging provided by Clarifai.
  </p>
</div>
<div id = "holder">
  <div id = "form-fields">
    <form name="input" action="/poetify" method="post">
    Image to Poetify: <input id = "user-input" type="text" name="image">
    <input class = "submit" type="submit" value="Submit">
    </form>
  </div>
  <div id = "poem">
    <div id = "user-photo">
    </div>
    <div id = "text">
    </div>
  </div>
</div>