<!-- <div id = "holder">
  <h2> Poems by Travis </h2>
  <form name="input" action="/poetify" method="post">
  Image to Poetify: <input type="text" name="image">
  <input class = "submit" type="submit" value="Submit">
  </form>
  <div class = "spacer"></div>
  <div id = "user_photo">
  </div>
<div class = "spacer"></div>
  <div id = "poem">
    <div id = "text">
    </div>
  </div>
</div>
 -->
<div id = "holder">

  <div id = "form">
    <h2> Poems by Travis </h2>
    <form name="input" action="/poetify" method="post">
    Image to Poetify: <input type="text" name="image">
    <input class = "submit" type="submit" value="Submit">
    </form>
  </div>

  <div id = "paper">
    <div id = "user_photo">
    </div>
    <div id = "poem">
      <div id = "text">
      </div>
    </div>
  </div>

</div>